@using BetValue.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BetValue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BetValue.styles.css" asp-append-version="true" />
</head>
<body>f
    <header>
        <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="justify-content-center text-center">
                        <h1 class="">B<span class="text-info">e</span>t<strong class="border">V</strong>alu<span class="text-info">e</span>s</h1>
                </div>
            </div>            
        </div>   
        <div class="row">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary w-100 border align-items-center align-content-start">
                    <a class="navbar-brand" href="#">My Website</a>

                    <!-- The expansion button for the leagues links -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLeagues" aria-controls="navbarLeagues" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarLeagues">
                        <ul class="navbar-nav mr-auto">
                            @foreach (LeagueModel league in Model.AllLeagues)
                            {
                                <a asp-area="" asp-page="Details" asp-route-id="@league.Id">
                                    <li class="padding-0 d-flex flex-column box m-5 align-items-start justify-content-start m-5 flagbackground">
                                        <span class=""><img src="@league.Country.ImageUrl" class="box" />@league.Name</span>
                                    </li>
                                </a>
                            }
                              </ul>
                            </div>

                            <!-- The search bar on the right -->
                            <div class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2 text-primary" id="searchBar" type="search" placeholder="Search" aria-label="Search">
                            </div>
                </nav>
        </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BetValue - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>